<!DOCTYPE html>
<html>
<head>
	<title>Working on ng-repeat</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="apprepeat.js"></script>
</head>
<body ng-app="myapp" ng-controller="mycontrol">
<input type="text" placeholder="enter username to find" ng-model="username">
<input type="submit" ng-click="search(username)">
<select ng-model="repoSortOrder">
	<option value="+name">
		Name
	</option>
	<option value="-stargazers_count">
		Stars
	</option>
	<option value="language">
		Language
	</option>
</select>
<table>
<tr>
<th>Name</th>
<th>Language</th>
<th>Stars</th>
</tr>
<tr ng-repeat="repo in repos | orderBy:repoSortOrder">
	<td>
		{{repo.name}}
	</td>
	<td>
		{{repo.language}}
	</td>
	<td>
		{{repo.stargazers_count | number}}
	</td>
</tr>
</table>
</body>
</html>